/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

.sidebar-header h1 {
    font-size: 20px;
    background: #f7bd00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 170px;
    border-radius: 20px;
}

a,
a:hover,
a:focus {
    color: #F2BD59;
    text-decoration: none;
    transition: all 0.3s;
}

.inner-main-nav ul li a:hover{
    color: #F2BD59;
    text-decoration: none;
    transition: all 0.3s;
}

header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: 0.6s;
    padding: 15px 9%;
    z-index: 100000S;
    border-bottom: 1px solid #ddd;
    background-color: #2F37A4;

}

.inner-main-nav {
    max-width: 1170px;
    margin: auto;
   
}

.inner-main-nav ul {
    text-align: right;
    margin: 0;
    padding: 20px 0;
}

.inner-main-nav ul li {
    float: none;
    display: inline-block;
}
.inner-main-nav ul li:nth-child(1),
.inner-main-nav ul li:nth-child(2),
.inner-main-nav ul li:nth-child(3),
.inner-main-nav ul li:nth-child(4)
{
    float: left;
}

.inner-main-nav ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.inner-main-nav ul i{
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login{
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.login:hover {
    cursor: pointer;
    color: #F2BD59;
    transform: scale(1.03);
    transition: all 1s ease;
}

.inner-main-nav img {
    border-radius: 50%;
    width: 30px;
}


.dropdown-item:hover {
        color: white;
        background-color: #2F37A4;
    }

.subsub{
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e6ac00;
}

ul.menu2{
    background: #2F37A4;
}

.line_verikal{
        border-left: 1px solid #ddd;
        height: 5vh;
        width: 0px;
    }

.line_verikal1{
        border-left: 1px solid #ddd;
        height: 105vh;
        width: 0px;
    }

.akun{
    color: gray;
    font-size: 14px;
}

.form-control:focus {
        border-color: #2F37A4;
        box-shadow: 0 0 0 0.1rem #2F37A4;
}

[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
    display: none;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2F37A4;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#userDropdown:hover {
    background-color: inherit;
    outline-color: #2F37A4;
    color: grey;
}

#userDropdown:focus {
   border-style: none !important;
   outline-color:#2F37A4;
   background-color: inherit;
   color: grey;
}

#userDropdown:active{
   border-style: none !important;
   outline-color: #2F37A4;
   background-color: inherit;
}

a:focus, a:active {
  outline: none !important;
  box-shadow: none !important;
}


#content.active {
    width: 100%;
}

#isi{

    padding-left: 10px;
    padding-right: 10px;
}

td,tr{
   font-size: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2F37A4;
  color: white;
  cursor: pointer;
  padding: 13px;
  opacity: 0.7;
  border-radius: 40px;
}

#myBtn:hover {
  background-color: #555;
  color: white;
  opacity: 0.9;
}

::placeholder {
  color: grey;
  font-size: 12px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  padding-right: 5px;
}



/* Landing page */

.about {
    font-size: 25px;
    text-align: start;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-image: url(/img/home7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 5rem 0;
}


.about-img2 img {
    padding-top: 5rem;
    width: 100%;
    height: auto;
}

.about .content2 {
    flex: 1 1 45rem;
    padding: 0 50px;
}

.about h3 {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.about p {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    width: 550px;
    color: white;

}

.about .cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F2BD59;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.about .cta:hover {
    background: transparent;
    cursor: pointer;
    color: white;
    transform: scale(1.03);
    transition: all 1s ease;
}

.insurance{
    height: 100vh;
}

.our-insurance {
    text-align: center;
    padding: 5rem 0 5rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.img-hover-zoom,
.img-hover-zoom2 {
    padding: 10px 2% ;
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    padding-bottom: 5rem;
}

.img-hover-zoom img,
.img-hover-zoom2 img {
    transition: transform .5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0);
}

.img-hover-zoom:hover img,
.img-hover-zoom2:hover img {
    transform: scale(1.1);
    filter: grayscale(1);
}

.overlay-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    pointer-events: none; /* Mencegah overlay mengganggu hover */
}

.slogan{
    padding: 5rem 0 5rem;
}

.slogan h1{
    background-color: #A0B1CB;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 4rem 0 4rem;
}

.about2 {
    padding: 5rem 10% 5rem;
    height: 100vh;
}
#about2 .row-cuy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about2 .content {
    flex: 1 1 90rem;
    padding: 0 50px;
}

.about2 h3 {
    margin: 0;
    font-size: 45px;
}

.about2 p {
    margin: 10px 0;
    font-size: 20px;
}

.about2 .cta2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F2BD59;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.about2 .cta2:hover {
    background: transparent;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }

  .cal, .mtk {
    margin: 10px;
  }

  .btn-calculator {
    margin: 10px;
  }

  .mtk p {
    margin: 10px;
    width: 1200px;

  }

  #age {
    width: 70px;
}
 #saveAmount{
    width: 200px;
 }

 .btn-calculator {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F2BD59;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-calculator:hover {
    background: transparent;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/* card


.row{
    display: flex;
    flex-direction: row;
}

.blog-card {
    max-width: 80%;
    box-sizing: border-box;
    margin: 2rem auto;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
  }

  .blog-card:hover {
    transform: scale(1.03);
  }

  .blog-card img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }

  .blog-content {
    background-color: rgb(245, 250, 250);
    padding: 0.3rem 2rem 1rem 2rem;
  }

  .blog-label {
    display: inline-block;
    background-color: rgb(194, 131, 16);
    color: white;
    border-radius: 15px;
    padding: 0 1rem;
  }

  .blog-card2 {
    max-width: 80%;
    box-sizing: border-box;
    margin: 2rem auto;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
  }

  .blog-card2:hover {
    transform: scale(1.03);
  }

  .blog-card2 img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }

  .blog-content2 {
    background-color: rgb(245, 250, 250);
    padding: 0.3rem 2rem 1rem 2rem;
  }

  .blog-label2 {
    display: inline-block;
    background-color: rgb(194, 131, 16);
    color: white;
    border-radius: 15px;
    padding: 0 1rem;
  }

  @media (min-width: 48rem) {
    .blog-card {
      max-width: 30%;
    }
  }
*/

/* FOOTER STYLE */
.footer-distributed{
	background: #2F37A4;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(255, 255, 255);

}

/* Footer links */

.footer-distributed .footer-links{
	color:  #f8f8f8;
	margin: 20px 0 12px;
	padding: 0;
    font-style: inherit;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #ffffff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 15px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
#menu-icon {
    color: rgb(255, 255, 255);
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1300px) {
    .inner-main-nav ul li a {
        margin: 0 15px;
        font-size: 13px;
    }

    .insurance {
        height: 70vh;
    }

    .overlay-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 1150px) {
    header {
        border-bottom: 0;
    }
    #menu-icon{
        display: block;
    }
    .inner-main-nav ul li a {
        padding: 0 0 15px;
        margin: 0 15px;
        font-size: 20px;
    }
    .inner-main-nav ul {
        margin: 0;
        padding: 20px 0;
    }
    .login{
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }
    .inner-main-nav{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: #2F37A4;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 30px;
        transition: all .55s ease;
    }
    .inner-main-nav a{
        margin-right: 0;
        margin: 2px 0;
    }
    .inner-main-nav.open{
        left: 0;
    }
    .logo {
        padding: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .inner-main-nav ul li {
        display: block;
        margin: 10px 0;
        padding-top: 30px;
    }

    .slogan h1{
        padding: 3rem 0 3rem;
        font-size: 30px;
    }

    .about2{
        height: 50vh;
    }

    .about2 h3 {
        margin: 0;
        font-size: 35px;
    }

    .about2 p {
        margin: 10px 0;
        font-size: 15px;
    }
}


/* Footer */
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width: 768px) {
    td,tr{
        font-size: 13px;
    }
    .reveal{
        margin-left: 15px;
    }
    .about {
        text-align: center;
        padding: 2rem 1rem 0;
    }

    .about-img2 img {
        padding-top: 3rem;
    }

    .about .content2 {
        padding: 0 20px;
    }

    .about h3 {
        font-size: 30px;
    }

    .about p {
        width: 100%;
    }

    .about .cta {
        padding: 10px 15px;
        font-size: 14px;
    }

    .insurance{
        height: 120vh;
    }

    .our-insurance {
        padding: 5rem 0;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .img-hover-zoom,
    .img-hover-zoom2 {
        width: 80%;
        padding: 0;
        margin-bottom: 2rem;
    }

    .overlay-text {
        top: 50%;
        font-size: 30px;
    }

    .about2{
        height: 120vh;
    }


    #about2 .row-cuy {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .about-img {
        margin-bottom: 20px;
    }

    .about2 .content {
        text-align: center;
        flex: 1 1 10rem;
        padding: 0px;
    }
    .about2 .content .cta2 {
        margin-top: 10px;
        text-align: center;
    }

    .about2 h3 {
        margin: 0;
        font-size: 40px;
    }

    .about2 p {
        margin: 10px 0;
        font-size: 18px;
    }

    .slogan h1{
        padding: 2rem 0 2rem;
        font-size: 25px;
    }

    #calculator {
        height: auto;
        padding: 1rem;
        height: 50vh;
    }

    .cal, .mtk {
        margin: 5px;
    }

    .btn-calculator {
        margin: 5px;
    }

    .mtk p {
        width: 100%;
    }

    #age {
        width: 50px;
    }

    #saveAmount {
        width: 100%;
    }



    .btn-calculator {
        padding: 10px 15px;
        font-size: 14px;
    }
}


@media (min-width: 769px) {
    .LC{
        width: 160px;
    }
}

@media screen and (max-width: 485px) {
    .insurance{
        height: 100vh;
    }

    #about2 .row-cuy {
        flex-direction: column-reverse;
        align-items: flex-start;
    }



    .about-img {
        margin-bottom: 20px;
    }

    .about2 .content {
        text-align: center;
        flex: 1 1 10rem;
        padding: 0px;
    }
    .about2 .content .cta2 {
        margin-top: 10px;
        text-align: center;
    }

    .about2 h3 {
        margin: 0;
        font-size: 35px;
    }

    .about2 p {
        margin: 10px 0;
        font-size: 18px;
    }

    #calculator {
        height: auto;
        padding: 1rem;
    }

    .cal, .mtk {
        margin: 5px;
    }

    .btn-calculator {
        margin: 5px;
    }

    .mtk p {
        width: 100%; /
    }

    .mtk  h3{
        font-size: 20px;
    }

    .mtk h4{
        font-size: 22px;
    }

    #age {
        width: 50px;
    }

    #saveAmount {
        width: 100%;
    }

    .btn-calculator {
        padding: 10px 15px;
        font-size: 14px;
    }
}
